.home-main{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;
        margin-bottom: 30px;
    }
    &__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;        
    }
}

.list-product{
    &__row{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
    }
}



.form{
   
}