.cart{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(#000000, .5);
    &__container{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        overflow: hidden;
        cursor: pointer;

    }

    &__content{
        max-width: 385px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
        padding: 32px 30px 30px;
        // transform: translateX(390px);
        transition: all 300ms ;
        cursor: auto;
        &.open{
            transform: translateX(0);
        }
    }
    &__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 30px;
    }

    
    &__list-product{
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        height: 600px;
        overflow: auto;
        &-wrapper{
            flex-grow: 1;
            // border: 1px solid red;
        }

    }
    &__body{
        display: flex;
        flex-direction: column;
        height: 90%;
        // border: 1px solid red;
        position: relative;
        align-items: center;
        justify-content: center;     
    }
    &__full{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    &__detals{
        margin-bottom: 24px;
        &-price{
            display: flex;
            align-items: flex-end;
            gap: 0 9px;
            &-title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }
            &-separator{
                flex-grow: 1;
                height: 1px;
                border-bottom: 1px dashed #DFDFDF;
            }
            &-number{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #000000;                
            }
            
        }
    }
   
}


@media screen and (max-width:1300px) {
    .cart{
        &__list-product{
            height: 280px;
            
        }
    }
}


